<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title>Document</title>
	</head>
	<body>
		<h2>Ticket ID: <%= result._id %></h2>
		<h4>Client Id: <%= result.clientId %></h4>
		<h4>Subject: <%= result.subject %></h4>
		<h4>Status: <%= result.status %></h4>
		<h4>Open Date: <%= new Date(result.openAt).toLocaleString() %></h4>
		<% result.conversations.forEach(element => { %>
		<div class="msgContainer">
			<p><%= element.sender %></p>
			<p><%= new Date(element.msgAt).toLocaleString() %></p>
			<p><%= element.message %></p>
		</div>
		<% }) %>
	</body>
</html>
